---
layout: default
title: Kao Thai Food Truck Ireland - Authentic Street Food
openHoursTitle: "We are in Elmgrove Farm - Gormanston"
openHoursLisdornan: "Opening Hours: Wednesday to Sunday from 4pm to 9:30pm."
openHoursNote: ""
---

<header id="header" class="header">
    {% include navbar.html %}
</header>



<div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel" data-wrap="true" data-pause="false">
    <div class="carousel-indicators">
        <!-- <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button> -->
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" class="active" aria-label="Slide 4"></button>
        </div>
    <div class="carousel-inner">
        <!-- <div class="carousel-item">
            <a href="/order">
                <img class="d-block mx-auto w-100" src="/assets/img/carousel/fathers-day-special-khao-soi-vietnamese-spring-rolls.jpg" alt="Third slide">
            </a>
        </div> -->
        <div class="carousel-item active">
            <img class="d-block mx-auto w-100" src="/assets/img/carousel/truck-elmgrove-web.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block bg-light text-bg-light">
                <h5>{{ page.openHoursTitle }}</h5>
                <p>{{ page.openHoursLisdornan }}</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto w-100" src="/assets/img/carousel/dishes-web.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <a href="/order">
                <img class="d-block mx-auto w-100" src="/assets/img/carousel/order-online-web.jpg" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>


<section id="menu" class="pt-5">
    <div class="container">
        <h1 class="my-5 text-center">Our Menu!</h1>

        <div class="row">

            {% for item in site.data.foodmenu %}
                {% if item.enabled == true %}
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card mb-3 text-bg-light border-1 border-dark card-link">
                        <a class="stretched-link" data-bs-toggle="modal" data-bs-target="#detailModal-{{ forloop.index }}"></a>
                        <div class="card-body p-0 d-flex flex-column">
                        <div class="p-3 flex-grow-1">
                            <img src="{{ item.photo }}" class="card-img-top" alt="{{ item.name }}">
                        </div>
                        <div class="card-title d-flex bg-dark p-2 m-0">
                            <h5 class="text-uppercase text-center text-white w-100">{{ item.name }} </h5>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- Dish Detail -->
                <div class="modal fade" id="detailModal-{{ forloop.index }}" tabindex="-1" aria-labelledby="detailModal-{{ forloop.index }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="detailModal-{{ forloop.index }}Label">{{ item.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ item.photo }}" class="card-img-top" alt="{{ item.name }}">
                            
                            <p class="mt-3">{{ item.description }}</p>

                            <div class="mt-3">
                                <h6>Protein choices</h6>
                                {% for protein in item.protein %}
                                    <img src="/assets/img/proteins/{{ protein | downcase }}.png" style="width: 50px;" class="mr-2" alt="{{ protein }}">
                                {% endfor %}
                            </div>
                            
                            <div class="mt-3">
                                <h6>Allergens</h6>
                                {% for allergen in item.allergens %}
                                    <img src="/assets/img/allergens/allergen-{{ allergen | downcase }}.png" style="width: 50px;" class="mr-2" alt="{{ protein }}">
                                {% endfor %}
                                <p class="text-muted mt-3">May contain: Cashew nuts, Crustaceans, Eggs, Gluten, Fish, Milk, Molluscs, Sesame seeds, Soybeans, Sulphur dioxide and sulphites, Peanuts</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="/order" class="btn btn-primary" tabindex="-1" role="button">Order Online</a>
                        </div>
                    </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</section>

<section id="location" class="pt-5">
    <div class="container">

        <h1 class="my-5 text-center">Location</h1>
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.625355660536!2d-6.262033823068536!3d53.65365205168532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486711b7a6201567%3A0x34097dd2977ff156!2sKao%20Thai%20Food%20Truck!5e0!3m2!1sen!2sie!4v1713994401247!5m2!1sen!2sie" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</section>

<section id="hireus" class="pt-5">
    <div class="container">

        <h1 class="my-5 text-center">Hire Us!</h1>

        <p>
            Looking for a unique and flavorful catering option for your next event in Ireland? Look no further 
            than Kao Thai our authentic Thai street food! Our skilled chef prepare fresh and 
            delicious dishes using traditional recipes and ingredients straight from Thailand. 
        </p>
        <p>
            Whether you're planning a birthday celebration, corporate event, or party, we offer a wide 
            variety of menu options to satisfy all your guests' cravings. From savory noodle dishes 
            to spicy curries and refreshing salads, our food is sure to impress and leave your guests 
            asking for more.
        </p>
        <p>
            So why settle for bland and boring catering when you can add a touch of excitement and 
            adventure to your event with our mouthwatering Thai street food? 
        </p>
        <p>
            <b>Contact us today to book our food truck for your next occasion!</b>
        </p>

        <a class="btn btn-primary" href="/events.html">Get Quote Online</a>

    </div>
</section>

<section id="contact" class="pt-5">
    <div class="container">

        <h1 class="my-5 text-center">Contact</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>We would love to hear from you</p>
                    <p>For private events, questions or suggestions please drop us a message in the contact form or
                        through any of the contact options below.</p>
                    Tel: <a href="tel:+353831872130">083 187 2130</a><br>
                    Email: <a href="mailto:eat@kaothai.ie">eat@kaothai.ie</a>
                </div>
                <div class="col-md-6">
                    <form accept-charset="UTF-8" action="https://getform.io/f/54836bff-da41-44c7-b3be-5f7815ab298f"
                        method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="txtName" class="form-label">Your Name*</label>
                            <input type="text" name="name" class="form-control" id="txtName" required maxlength="40">
                        </div>
                        <div class="mb-3">
                            <label for="txtEmail" class="form-label">Email address*</label>
                            <input type="email" name="email" class="form-control" id="txtEmail"
                                placeholder="name@example.com" required maxlength="50">
                        </div>
                        <div class="mb-3">
                            <label for="txtEmail" class="form-label">Phone Number</label>
                            <input type="text" name="phone" class="form-control" id="txtPhone" maxlength="20">
                        </div>
                        <div class="mb-3">
                            <label for="txtMessage" class="form-label">Your message*</label>
                            <textarea class="form-control" name="message" id="txtMessage" rows="3" required
                                maxlength="5000"></textarea>
                        </div>
                        <div class="mb-3">
                            <a href="/privacy-policy.html" target="_blank">Privacy Policy</a>
                        </div>
                        <input type="hidden" name="_gotcha" style="display:none !important">
                        <div class="mb-3">
                            <input class="form-control" type="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>