---
---
@import "../_sass/custom";
/*
    Colour Palette

    Orange: #ef4823
    Light background: #f2f2f4
*/

body{
    background-color: #f2f2f4;
}

.nav-link {
    font-weight: bold;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .compact-menu {
    background-color: black;
  }

  .header {
    position: absolute;
    width: 100%;
    padding: 0px 20px;
    background-color: transparent;
    
}

.header.fixed {
    position: fixed;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 1.3s, padding 1.3s;
    transform: translateY(0);
    z-index: 1000;
}

.header.compact #logo {
    height: 60px;
}

.carrousel {
    height: 100vh;
    // background: url(/assets/img/banner4.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 80px;
}

.banner {
    height: 100vh;
    background: url(/assets/img/banner4.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 150px;
}

.bannerEvents {
    height: 100vh;
    background: url(/assets/img/boat.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 150px;
}

.card-link {
    cursor: pointer;
  }

#iframe-online-orders {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    overflow: hidden;
}

.iframe-container {
    // position: relative;
    width: 100%;
    overflow: hidden;
  }

#titulo {
    color: red;
}

.carousel-item img {
    object-fit: cover;
}
/* Set maximum height for images */
.max-img-height {
    max-height: calc(100vh - 56px);  /* Adjust this value as needed */
    object-fit: contain;
}
.carousel-item {
    transition: transform 1s;
}

// .carousel-fade .active.carousel-item-start,
// .carousel-fade .active.carousel-item-end {
//   transition: opacity 0s 2.6s;
// }

// @keyframes slide {
//     0% {
//         transform: translateX(0);
//     }
//     100% {
//         transform: translateX(100%);
//     }
// }