---
---
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css);

.banner {
    height: 100vh;
    background: url(/assets/img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

body{
    background-color: #f2f2f4;
}